$gray-000: #FFFFFF;
$gray-100: #DDDDDD;
$gray-200: #BBBBBB;
$gray-300: #999999;
$gray-400: #777777;
$gray-500: #555555;
$gray-600: #444444;
$gray-700: #333333;
$gray-800: #111111;
$gray-900: #000000;

:global {
  * {
    font-family: 'SUIT', sans-serif;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: #000000;
  }
  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}