$gray-000: #FFFFFF;
$gray-100: #DDDDDD;
$gray-200: #BBBBBB;
$gray-300: #999999;
$gray-400: #777777;
$gray-500: #555555;
$gray-600: #444444;
$gray-700: #333333;
$gray-800: #111111;
$gray-900: #000000;

// WIP
@font-face {
  font-family: 'WooridaumB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}